/******************************
********* standard meny ******
******************************/
.genesis-nav-menu  .nav-primary a:hover {
/************ add background-color for menu hover here *******/
    background: blue;
}

.nav-primary .menu-item {
/************ add height for menu here *******/
    line-height: 100px;
    height:100px;
}
.nav-primary .sub-menu .menu-item {
/************ add height for submenu here *******/
    line-height: 40px;
    height:40px;
    width: 150px;
}
.nav-primary >img {
    float: left;
    padding-top:15px;
    padding-top:1.5rem;
}

#rememberNav .sub-menu a{
    background: white;
    color: black;
}

#rememberNav  .sub-menu a:hover {
    color: white;
    background: yellow;
}

/******************************
********* mobile meny ******
******************************/
div#offcanvas {
    position: fixed;
    width: 100%;
}
/* THe following rules makes the mobile nav 60px. If you want another height 
change this */

div#offcanvasclear {
    height:60px; /* needed if mobile is menu is fixed */
}
div#offcanvas nav{
    line-height:60px;
    height:60px
}
#offcanvas .nav-primary .genesis-nav-menu{        
    background: darkgrey; /* color menu background*/
}

/* Following sets the rules for mobile menu items */
#offcanvas .nav-primary .genesis-nav-menu a,
#offcanvas .nav-primary .genesis-nav-menu li {
    color: white;
    height:40px;
    line-height:40px;
}
#offcanvas .nav-primary #menu-mobile {
    background:orange;
    background-image: url("images/logo.png");
    background-position: 90% center;
    background-size: 60%;
    background-repeat: no-repeat;
    padding-left:5%;
        height:auto;
}
#offcanvas .nav-primary #menu-mobile:before {
  /*If you are using fontawesom you can remoove the comment
    content:"\f0c9 \0020  Menu";
    font-family: fontawesome; 
    */
}
 
/* Indenting of submenus */
#offcanvas .nav-primary .genesis-nav-menu .menu-item > .sub-menu {
    padding-left:30px;
}

/* Hover rules */
#offcanvas .genesis-nav-menu a:hover,
#offcanvas .genesis-nav-menu a:focus,
#offcanvas .genesis-nav-menu a:active {
    background:pink;
}
 
/* If you use facebook, twitter and so om in menu at right position - which i do */
li.menu-item.menu-right {
    width: auto;
    float: right;
}