.genesis-nav-menu  a:hover {
    background: #b1c47c!important;
}
.genesis-nav-menu .menu-item {
    float: left;
    line-height: 50px;
    height:50px;
    width:auto;
}
.genesis-nav-menu .sub-menu .menu-item {
    float: left;
    line-height: 50px;
    height:50px;
    width: 150px;
}
.genesis-nav-menu >img {
    float: left;
    padding-top:15px;
    padding-top:1.5rem;
}
.nav-primary .sub-menu a:hover,
.nav-primary .sub-menu a {
    color: white;
}

div#offcanvas nav{
    height:0;
    margin-bottom: 80px;
}
#offcanvas .nav-primary .genesis-nav-menu a,
#offcanvas .nav-primary .genesis-nav-menu li {
    color: white;
    height:40px;
    line-height:40px;
}
#offcanvas .nav-primary .genesis-nav-menu{        
    background: black;
}
#offcanvas .nav-primary #menu-mobile {
    color: #999;
    cursor: pointer;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 18px;
    text-transform: uppercase;
    background:black;
    background-image: url("images/logo.png");
    background-position: 90% center;
    background-size: 60%;
    background-repeat: no-repeat;
    height:80px;
    line-height:80px;
    padding-left:5%;
}
 
#offcanvas .nav-primary .genesis-nav-menu .menu-item > .sub-menu {
    padding-left:30px;
}
#offcanvas  .genesis-nav-menu .sub-menu a {
    color: white;
 }
#offcanvas  a:hover,
#offcanvas  a:focus,
#offcanvas  a:active {

/*     replave if another colour wanted on mobilemenu   background-color: red!important;*/
}
 
#rememberNav    .sub-menu a{
    background: grey;
    color: white;
}
li.menu-item.menu-right {
    width: auto;
    float: right;
}